.container {
    display: flex;
    width: 100vw;
    height: 93vh;
    margin: 0;
    padding-top: 5vh;
    padding-left: 15vw;
    padding-right: 15vw;
    box-sizing: border-box;
    justify-content: center;
    background-color: black;
    background-image: linear-gradient(to bottom,#1b2947,#1b2947,#1b2947, #2b3152, #3b385d);
}

.top, .bottom {
    box-sizing: border-box;
    background-color: rgba(131, 131, 131, 0.397);
    width: 70vw;
    height: 10vh;
    border-radius: 10px;
}

.top {
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 3vw;
}

.bottom {
    border-radius: 0 0 10px 10px;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.header, .content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.add-btn {
    font-size: 2vmin;
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.add-btn:hover {
    border: solid 1px white;
}

.product-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}